<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.androiddemos">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="demos.AndroidDemos"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="demos.service.CountService"
            android:enabled="true" />
        <!-- enabled这个属性用于指示该服务是否能够被实例化,默认为true -->
        <service android:name="demos.service.SmsService" />
        <service android:name="demos.service.TelephonyService" />

        <activity
            android:name="demos.activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="demos.activity.SlideToCloseActivity"
            android:theme="@style/SlideToCloseStyle" />
        <activity android:name="demos.activity.ServiceActivity" />
        <activity android:name="demos.activity.RecyclerViewActivity" />
        <activity android:name="demos.activity.SmsMonitorActivity" />
        <activity android:name="demos.activity.TelephonyActivity" />
        <activity android:name="demos.activity.AppInfoActivity" />
        <activity android:name="demos.activity.ClearCacheActivity" />
        <activity android:name="demos.activity.SmsLocalActivity" />
        <activity android:name="demos.activity.ReadContactActivity" />
        <activity
            android:name="demos.activity.TakePhotoActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="demos.activity.GetLocationActivity" />
        <activity android:name="demos.drag_recycleview.DragRecycleViewActivity" />
        <activity android:name="demos.vertical_menu.VerticalMenuActivity" />
    </application>

</manifest>
